.App {
  position: relative;
  background-image: url("./public/background.jpg");
  text-align: center;
}

.App::after {
  content: '';
  position: absolute;
  background-image: url("./public/icons8-star-wars-1344.png");
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.App__list {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 100vh; 
}

.App__box { 
  padding: 2rem 3rem;
  width: 30%;
  z-index: 5;
  position: relative;
 }

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.paper {
  padding: 2rem 3rem;
}

.luke {
  position: relative;
  height: fit-content;
}

.dart-vaider {
  left: 50px;
  position: absolute;
  top: 75px;
  height: fit-content;
  z-index: 1000;
}

.dart-vaider__img {
  height: 700px;

}

.dart-vaider__sign {
  position: absolute;
  bottom: 50px;
  left: 15%;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
